.main-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.layout-header {
    background-color: #1b1e21;
    color: white;
    padding: 25px;
    text-align: center;
}

.chat-sec {
    background-color: #d1d5db;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-input-field {
    flex: 1;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.input-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}

.send-button {
    background-color: #3b82f6;
    color: white;
    padding: 0.5rem 1rem;

}